<div{{attributes.addClass('campo-fecha')}}>
	<div{{title_attributes.addClass('etiqueta-personalizada-estilo')}}>
		{{ label }}
	</div>
	<div{{content_attributes.addClass('contenido-fecha')}}>
		{% for item in items %}
			<div>{{item.content}}</div>
		{% endfor %}
	</div>
</div>
